<main>
  <h1>Users list</h1>
  {{#if users}}
  {{#each users}}
  <div class="card">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>Name: {{username}}</b></h4>
      <p>Age: {{age}}</p>
      <a href="/users/{{id}}" class="btn">More info...</a>
      <a href="/users/edit/{{id}}" class="btn">Edit User</a>
    </div>
  </div>
  {{/each}}
  {{else}}
    <p>Users lists....</p>
  {{/if}}
</main>